@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* color: #ffffff80 - lightgary; */
    color: #12121299 - bg;
    /* color: #ffffff99 - bordergray; */
    /* color: #ff3700; */
    /* color: #00000080; */
}

:root {
    --primary: rgb(255, 55, 0);
}

body {
    background-color: #111;
    font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

*/ .logo {
    font-family: 'Racing Sans One', cursive;
}
