@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .bgScrolled {
        background-color: #12121299;
        border-block-end: 2px solid var(--primary);
        border-image: linear-gradient(90deg, transparent, var(--primary), transparent)30;
        backdrop-filter: blur(20px);
        padding: 10px 100px;
    }

    .webkit-mask {
        -webkit-mask: linear-gradient(#000 0 0), linear-gradient(#000 0 0);
        -webkit-mask-clip: text, padding-box;
        -webkit-mask-composite: xor;
    }
}

.nav-active {
    @apply text-[#ff3700];
}

.bgImg {
    @apply absolute top-0 left-0 w-full h-screen object-cover object-center duration-1000 text-9xl hidden;
}

.active {
    @apply block;
}

.content {
    @apply relative hidden duration-1000 z-[900] scale-0;

}

.content-active {
    @apply block scale-100;
}

/* .playBtn {
    @apply relative hidden scale-0 z-[900] justify-center items-center;
}

.playBtn-active {
    @apply flex scale-100;
} */

.videoModal {
    @apply absolute content-[''] top-[125px] left-[100px] bottom-0 right-[100px] bg-[#00000080] backdrop-blur-[20px] z-[1500] items-center justify-center duration-1000 hidden;
}
